*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f4f4f4;
    color: #222;
    transition: 0.3s;
}
.container{
    width: 90%;
    max-width: 700px;
    margin: 100px auto;
    text-align: center;
    background-color: #fff;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
h1{
    margin-bottom: 20px;
}
p{
    margin-bottom: 30px;
    line-height: 1.6;
}
button{
    padding: 12px 25px;
    border: none;
    border-radius: 10px;
    background-color: #222;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
body.dark{
    background-color: #000;
    color: #fff;
    
}
body.dark .container{
    background-color: #1f1f1f;
    color: #fff;
    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.05);
}
body.dark button{
    background-color: #fff;
    color: #000;
}